<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday Riniel!!!!</title>
    <link rel="stylesheet" href="/static/css/defaults.css">
</head>
<body>
    <audio id="backgroundAudio" autoplay loop>
        <source src="/static/audio/happy-birthday-song.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <div id="main-content">
        {{{body}}}
    </div>
</body>
</html>
